<h1>About</h1>

<p>
 Libby has been tutoring in one form or another for over twelve years, since she was in high school herself. It's been her full-time job for six years now, and she has worked with students from six to sixty on a variety of subjects.   
</p>
<p>
 From 2002-2006 Libby attended St. John's College, Santa Fe, where she studied liberal arts, with a focus on philosophy and the history of mathematics. She earned an MFA from Exeter University in Staging Shakespeare, and continues to direct plays and teach drama throughout the year. 
</p>
