<p>
  Stuck with a teacher you don't like? Finding new material difficult or boring? Need to prepare for a difficult test?
</p>
<p>
  No matter your situation, I can help! I pick up where your teachers leave off.
</p>
<p>
  I tutor a variety of subjects for all ages, from elementary school through community college, though I work most with students grades 6&ndash;8. I first started tutoring more than ten years ago, and have also worked as a teaching assistant in a variety of locations. This has been my full-time job for four years, and I've worked with students from many different backgrounds on plenty of different subjects.
</p>
<p>
  Whether you'd like assistance on specific homework questions, or want some background information that ties different subjects together, I can provide careful explanations and lots of examples.
</p>
<p>
  I can help you
  <ul>
    <li>analyze literature and develop clear and strong writing skills, even if English is not your first language</li>
    <li>understand algebra, geometry, trigonometry, statistics and calculus</li>
    <li>comprehend the major developments in European and American history, and give you a background in important cultural factors</li>
    <li>learn to speak Spanish or French (or both!)</li>
    <li>practice public speaking and dramatic readings</li>
    <li>develop study skills that help you earn high test scores in any subject</li>
  </ul>
  ...and more!
</p>
<p>
  I've helped students go from Ds and Fs to As and Bs!
</p>
<p>
  I am committed to helping you succeed in your academic pursuits, working with you in the ways that you learn best. Because we work one on one, I can tailor my approaches to your individual learning style. I always work to make lessons interesting and memorable.
</p>
<p>
  I'm delighted to work with independent scholars and homeschoolers as well as those working through public school. Please contact me for more information!
</p>
