<h1>Welcome!</h1>

<p>
  I'm a tutor. I dramatically undercharge for my super
  amazing services as the world's best tutor ever. For just
  $19.95, you can get the Super Smart Forever Pack. But wait
  -- there's more! If you call now you can also get the
  "I'm Amazing At Math" pack ABSOLUTELY FREE! That's right,
  it's a $9.95 value and you get it FREE! So call now!
  1-800-GO-LIBBY, that's 1-800-465-4229!
</p>
