<h1>Testimonials</h1>

<ul>
  <li>
    <img src="http://gb.fotolibra.com/images/previews/868668-happy-student-with-homework.jpeg" alt="" />
    <p>
      Libby's great! She teaches me all the cool things.
    </p>
  </li>
  <li>
    <img src="https://graduategonegaga.files.wordpress.com/2013/03/happy-student.jpg?w=676" alt="" />
    <p>
      I used to hate math! Now I can't close my mouth because I'm so into it! Thanks, Libby!
    </p>
  </li>
  <li>
    <img src="http://media4.s-nbcnews.com/j/msnbc/Components/Photos/z_Projects_in_progress/050418_Einstein/050405_einstein_1905.grid-4x2.jpg" alt="" />
    <p>
      If it weren't for Libby, I'd never have figured out that general relativity stuff.
    </p>
  </li>
</ul>
